<div id="page">
	<div class="wording section">
		<h1>EVERYCUPCAKE</h1>
		<h2>THE ULTIMATE COLLECTION OF CUPCAKE RECIPES & SHOPS</h2>
		<h3>COMING NOVEMBER 2013</h3>
		<div class="image"><%= image_tag image_url("cupcake.png") %></div>
	</div>
</div>

<footer id="footer">
      <div class="by">website design by lisacf</div>
</footer>


