// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
 	background-color:#9437ff;
 	font: normal 100% Arial, sans-serif;
 }
 #page {
 	margin: 36px auto;
 	width: 90%;
 }
 .wording {
 	margin: 0 auto 53px;
 	width: 93.75%;
 }
 img {
 	max-width: 100%;
 }

 h1 {
 	text-align: center;
 	color: #ff85ff;
 	letter-spacing: 0.1em;
 	font-weight:bold;
 	font: bold 2.5em Calibri, Optima, Arial, sans-serif;
 	text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
 }
h2{
 	text-align: center;
 	color: #ff85ff;
 }
 h3 {
 	text-align: center;
 	color: #fffb00;
 }